body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.navbar {
    box-shadow: 8px 4px 20px rgb(204, 203, 203);
}


.logo {
    width: 175px;
}


.flower {
    margin-left: 10px;
    width: 45px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid {
    width: 766px;
    align-self: center;
}

.psycho {
    margin-left: 20px;
}